<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     th:fragment="menu">
    <navbar class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/identity/dashboard}"><img th:src="@{/img/logo.png}" th:width="30" height="24"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/identity/dashboard}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('Product_Category_Add','Product_Category_List')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Product Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" th:href="@{/product/listproductcategory}"
                           sec:authorize="hasAuthority('Product_Category_List')">Product Category List</a>
                        <a class="dropdown-item" th:href="@{/product/productcategory}"
                           sec:authorize="hasAuthority('Product_Category_Add')">Create Product Category</a>
                    </div>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('Product_Add','Product_List')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Product
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" th:href="@{/product/listproduct}"
                           sec:authorize="hasAuthority('Product_List')">Product List</a>
                        <a class="dropdown-item" th:href="@{/product/product}"
                           sec:authorize="hasAuthority('Product_Add')">Create Product</a>
                    </div>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('User_Add','User_List')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" th:href="@{/identity/listuser}"
                           sec:authorize="hasAuthority('User_List')">User List</a>
                        <a class="dropdown-item" th:href="@{/identity/user}"
                           sec:authorize="hasAuthority('User_Add')">Create User</a>
                    </div>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('Role_Add','Role_List')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Role
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" th:href="@{/identity/listrole}"
                           sec:authorize="hasAuthority('Role_List')">Role List</a>
                        <a class="dropdown-item" th:href="@{/identity/role}"
                           sec:authorize="hasAuthority('Role_Add')">Create Role</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <!--<a class="nav-link" href="#" th:href="@{/identity/logout}">Logout<span class="sr-only">(current)</span></a>-->
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden"
                               th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input id="logOutButton" class="nav-link"
                               type="submit" value="Sign Out">
                    </form>
                </li>
            </ul>
        </div>
    </navbar>

    <!-- Message Div-->
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
</div>